/* modules/02_fridge/_card.scss
-------------------------------------------------- */
@use "../../setting/import" as *;

.m-fridge-card {
  & {
    overflow: hidden;
    position: relative;
    background-color: color(wt);
    &__inner {
      color: color(bk);
    }
    &__head {
    }
    &__outline {
      line-height: 1.3;
      display: flex;
      align-items: center;
      .icn {
        background-color: color(blu, thin);
        display: flex;
        justify-content: center;
        align-items: center;
        &::before {
          @include svg;
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20class%3D%22lucide%20lucide-refrigerator%20w-6%20h-6%22%20data-fg-dymv6%3D%221.18%3A7.12010%3A%2Fcomponents%2FFridgeListScreen.tsx%3A47%3A15%3A1433%3A65%3Ae%3ARefrigerator%3A%3A%3A%3A%3A%3AC3fA%22%20style%3D%22color%3A%20rgb(93%2C%20171%2C%20230)%3B%22%3E%3Cpath%20d%3D%22M5%206a4%204%200%200%201%204-4h6a4%204%200%200%201%204%204v14a2%202%200%200%201-2%202H7a2%202%200%200%201-2-2V6Z%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M5%2010h14%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M15%207v6%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
          background-color: color(blu);
        }
      }
    }
    &__items {
      color: color(gry, dark);
      display: block;
    }
    &__users {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-list {
      }
      &-txt {
        color: color(blu);
      }
      &-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        color: color(blu);
        background-color: color(blu, thin);
        @include hBase;
        &::before {
          @include svg;
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20class%3D%22lucide%20lucide-user-plus%20w-4%20h-4%22%20data-fg-dymv99%3D%221.18%3A76.18283%3A%2Fcomponents%2FFridgeListScreen.tsx%3A274%3A25%3A11116%3A32%3Ae%3AUserPlus%3A%3A%3A%3A%3A%3ACQ4z%22%3E%3Cpath%20d%3D%22M16%2021v-2a4%204%200%200%200-4-4H6a4%204%200%200%200-4%204v2%22%3E%3C%2Fpath%3E%3Ccircle%20cx%3D%229%22%20cy%3D%227%22%20r%3D%224%22%3E%3C%2Fcircle%3E%3Cline%20x1%3D%2219%22%20x2%3D%2219%22%20y1%3D%228%22%20y2%3D%2214%22%3E%3C%2Fline%3E%3Cline%20x1%3D%2222%22%20x2%3D%2216%22%20y1%3D%2211%22%20y2%3D%2211%22%3E%3C%2Fline%3E%3C%2Fsvg%3E");
          background-color: color(blu);
        }
      }
    }

    &__check {
      position: absolute;
      background-color: color(wt);
      border-color: color(bk);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      &:checked {
        background-color: color(blu);
        border-color: color(blu);
        &::after {
          @include svg;
          mask-image: url("data:image/svg+xml;charset=utf8,%3C!--%20Generator%3A%20Adobe%20Illustrator%2018.1.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20--%3E%3Csvg%20version%3D%221.1%22%20id%3D%22_x32_%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20512%20512%22%20style%3D%22width%3A%20256px%3B%20height%3A%20256px%3B%20opacity%3A%201%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%234B4B4B%3B%7D%3C%2Fstyle%3E%3Cg%3E%20%3Cpolygon%20class%3D%22st0%22%20points%3D%22440.469%2C73.413%20218.357%2C295.525%2071.531%2C148.709%200%2C220.229%20146.826%2C367.055%20218.357%2C438.587%20289.878%2C367.055%20512%2C144.945%20%22%20style%3D%22fill%3A%20rgb(75%2C%2075%2C%2075)%3B%22%3E%3C%2Fpolygon%3E%3C%2Fg%3E%3C%2Fsvg%3E");
          background-color: color(bk);
          display: block;
        }
      }
    }
  }

  @include pc {
    border-radius: vw(20px, $pc);
    box-shadow: 0 0 vw(8px, $pc) 0 rgba(0, 0, 0, 0.2);

    &__inner {
      display: block;
      padding: vw(30px, $pc) vw(30px, $pc) vw(20px, $pc);
    }

    &__head {
      padding-bottom: vw(30px, $pc);
      border-bottom: vw(1px, $pc) solid color(gry);
    }
    &__outline {
      font-size: vw(22px, $pc);
      margin-right: vw(25px, $pc);
      gap: 0 vw(15px, $pc);
      .icn {
        border-radius: vw(10px, $pc);
        width: vw(50px, $pc);
        height: vw(50px, $pc);
        &::before {
          width: vw(30px, $pc);
          height: vw(30px, $pc);
        }
      }
    }
    &__name {
    }
    &__items {
      font-size: vw(14px, $pc);
      margin-top: vw(7px, $pc);
    }
    &__users {
      padding-top: vw(30px, $pc);
      &-list {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: vw(7px, $pc) 0;
      }
      &-item {
      }
      &-txt {
        font-size: vw(16px, $pc);
        margin-bottom: vw(5px, $pc);
      }
      &-members {
        display: flex;
        flex-wrap: wrap;
        gap: vw(5px, $pc);
      }
      &-btn {
        border-radius: vw(5px, $pc);
        padding: vw(10px, $pc);
        gap: 0 vw(5px, $pc);
        font-size: vw(16px, $pc);
        &::before {
          width: vw(20px, $pc);
          height: vw(20px, $pc);
        }
      }
    }
    &__check {
      top: vw(20px, $pc);
      right: vw(20px, $pc);
      width: vw(20px, $pc);
      height: vw(20px, $pc);
      border-radius: vw(3px, $pc) !important;
      border: solid vw(1px, $pc);
      &:checked {
        &::after {
          width: vw(15px, $pc);
          height: vw(15px, $pc);
        }
      }
    }
  }
}
