/* modules/00_common/_fridge.scss
-------------------------------------------------- */
@use "../../setting/import" as *;

.m-fridge {
  & {
    position: relative;

    &__top-ttl {
      font-weight: 600;
    }

    &__list {
    }

    &__remove-all-btn,
    &__remove-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      @include hBase;
      &::before {
        @include svg;
        mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20class%3D%22lucide%20lucide-trash2%20lucide-trash-2%20w-4%20h-4%22%20data-fg-dymv96%3D%221.18%3A41.16951%3A%2Fcomponents%2FFridgeListScreen.tsx%3A264%3A25%3A10496%3A30%3Ae%3ATrash2%3A%3A%3A%3A%3A%3ACuIQ%22%3E%3Cpath%20d%3D%22M3%206h18%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M19%206v14c0%201-1%202-2%202H7c-1%200-2-1-2-2V6%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M8%206V4c0-1%201-2%202-2h4c1%200%202%201%202%202v2%22%3E%3C%2Fpath%3E%3Cline%20x1%3D%2210%22%20x2%3D%2210%22%20y1%3D%2211%22%20y2%3D%2217%22%3E%3C%2Fline%3E%3Cline%20x1%3D%2214%22%20x2%3D%2214%22%20y1%3D%2211%22%20y2%3D%2217%22%3E%3C%2Fline%3E%3C%2Fsvg%3E");
      }
    }

    &__remove-all-btn {
      background-color: color(pink);
      color: color(wt);
      &::before {
        background-color: color(wt);
      }
    }

    &__remove-btn {
      width: 100%;
      background-color: color(wt);
      color: color(pink);
      border: 1px solid color(pink);
      &::before {
        background-color: color(pink);
      }
    }
  }

  @include pc {
    margin: vw(50px, $pc) 0;
    &__top-ttl {
      font-size: vw(24px, $pc);
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: vw(40px, $pc);
      padding: 0 vw(20px, $pc);
      margin: vw(80px, $pc) 0;
    }

    &__remove-all-btn,
    &__remove-btn {
      border-radius: vw(5px, $pc);
      padding: vw(10px, $pc);
      gap: 0 vw(5px, $pc);
      font-size: vw(16px, $pc);
      &::before {
        width: vw(20px, $pc);
        height: vw(20px, $pc);
      }
    }

    &__remove-all-btn {
      padding: vw(10px, $pc);
    }

    &__remove-btn {
      margin-top: vw(15px, $pc);
      padding: vw(8px, $pc);
      font-size: vw(14px, $pc);
      &::before {
        width: vw(18px, $pc);
        height: vw(18px, $pc);
      }
    }
  }
}
