/* modules/02_fridge/_register.scss
-------------------------------------------------- */
@use "../../setting/import" as *;

.m-fridge-register {
  & {
    &__show-btn {
      position: absolute;
      top: 0;
      right: 0;
      background-color: color(grn);
      color: color(wt);
      display: flex;
      justify-content: center;
      align-items: center;
      @include hBase;
      &::before {
        @include svg;
        background-color: color(wt);
        mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20class%3D%22lucide%20lucide-plus%20w-5%20h-5%22%20data-fg-dymv20%3D%221.18%3A7.12010%3A%2Fcomponents%2FFridgeListScreen.tsx%3A72%3A13%3A2462%3A28%3Ae%3APlus%3A%3A%3A%3A%3A%3ABkTm%22%3E%3Cpath%20d%3D%22M5%2012h14%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M12%205v14%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
      }
    }

    &-form {
      background-color: color(wt);
      overflow: hidden;
      &__input {
        label {
          display: block;
        }
        input {
          width: 100%;
        }
      }
      &__submit {
        background-color: color(grn);
        color: color(wt);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  @include pc {
    margin: vw(40px, $pc) vw(10px, $pc);
    &__show-btn {
      border-radius: vw(5px, $pc);
      padding: vw(10px, $pc);
      gap: 0 vw(5px, $pc);
      font-size: vw(16px, $pc);
      &::before {
        width: vw(20px, $pc);
        height: vw(20px, $pc);
      }
    }

    &-form {
      border-radius: vw(10px, $pc);
      box-shadow: 0 0 vw(8px, $pc) 0 rgba(0, 0, 0, 0.2);
      padding: vw(35px, $pc) vw(30px, $pc);
      display: flex;
      align-items: flex-end;
      gap: 0 vw(10px, $pc);
      border-left: vw(10px, $pc) solid color(grn);
      &__input {
        flex: 1;
        label {
          margin-bottom: vw(20px, $pc);
          font-size: vw(18px, $pc);
        }
        input {
          padding: vw(5px, $pc) vw(10px, $pc);
          font-size: vw(15px, $pc);
        }
      }
      &__submit {
        font-size: vw(16px, $pc);
        border-radius: vw(5px, $pc);
        padding: vw(10px, $pc);
      }
    }
  }
}
